<h3>Detalles del trabajo</h3>
<div>
    <div>
        <label><b>Identificador : </b>{{trabajo.id}}</label>
    </div>
    <div>
        <label><b>Titulo : </b>{{trabajo.titulo}}</label>
    </div>
    <div>
        <label><b>Salario minimo : </b>{{trabajo.minimo}}</label>
    </div>
    <div>
        <label><b>Salario maximo : </b>{{trabajo.maximo}}</label>
    </div>
    <div>
        <label><b>Identificador departamento : </b>{{trabajo.departamento.id}}</label>
    </div>
    <div>
        <label><b>Nombre departamento : </b>{{trabajo.departamento.departamento}}</label>
    </div>
</div>